<div class="wotitem">
  <div class="post-header">
    <!-- Informacion de la revista -->
    <div class="magazine-info">
        <h2>Nombre: <%= link_to magazine.name, magazine %></h2>
        <h2>Título: <%= magazine.title %></h2>
      <p>
        <strong>Sobre la revista:</strong>
        <br>
        <%= magazine.description %>
      </p>
      <p>
        <strong>Reglas:</strong>
        <br>
        <%= magazine.rules %>
      </p>
    </div>
  </div>
</div>