<body class="wotbody">

  <% if notice %>
  <br>
  <div class="wotitem" id="notice">
    <% if notice[0] == 'T' %>
      <span style="color: green;"><%= notice %></span>
    <% else %>
      <span style="color: red;"><%= notice %></span>
    <% end %>
  </div>
  <% end %>
  <br>

  <div class="wotitem">
  <table class="magazine-table">
    <thead>
      <tr>
        <th class="magazine-th">Nombre</th>
        <th class="magazine-th"># Posts</th>
        <th class="magazine-th"># Comentarios</th>
        <th class="magazine-th"># Suscriptores</th>
        <th class="magazine-th">Suscríbete/Desuscríbete</th>
      </tr>
    </thead>
    <tbody>
      <% @magazines.each do |magazine| %>
        <tr>
          <td class="magazine-td"><%= link_to magazine.name, magazine %></td>
          <td class="magazine-td"><%= magazine.posts.count %></td>
          <td class="magazine-td">Not yet implemented</td>
          <td class="magazine-td">Not yet implemented</td>
          <td class="magazine-td">Not yet implemented</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>

</body>
<hr>
<footer>
</footer>
