<div class="wotitem">
  <%= render 'admins/admins/admin' %>
</div>
<div class="sub-navbar wotitem">
  <div>
    <%= link_to "Profile", edit_admin_path(@admin) %>
  </div>
</div>

  <div class="post-header">
    <!-- Contenido del post -->
    <div class="post-content" style="color: white;">
      <!-- Renderizar el formulario de edición -->
      <%= render 'formedit' %>
    </div>
  </div>
