<div class="wotitem">
  <div class="post-header">
    <!-- Contenido del post -->
    <div class="post-content" style="text-align: center; color: white;">
      <h1>Editando Post</h1>
      <%= render 'formedit' %>
      <div class="post-actions" style="text-align: center;">
        <%= link_to post_path(@post), class: 'btn btn-primary btn-rectangular' do %>
          Volver
        <% end %>
    </div>
    </div>
  </div>
</div>
