<div class="wotitem">
  <div class="post-header">
    <!-- Contenido del post -->
    <div class="post-content" style ="color: white;">
        <%= render 'formedit' %>
    </div>
    </div>
  </div>
