<!-- Wall of Posts main view -->
<body class="wotbody">
  
  <% if notice %>
  <br>
  <div class="wotitem" id="notice">
    <% if notice[0] == 'T' %>
      <span style="color: green;"><%= notice %></span>
    <% else %>
      <span style="color: red;"><%= notice %></span>
    <% end %>
  </div>
  <% end %>
  <br>

  <div id="tweets">
    <% @posts.each do |post| %>
      <% if @actual_day != @post_day %>
        <h3 style="font-weight: normal;">
          ......
          <%= @actual_day = @post_day %>
        </h3>
      <% end %>
      <%= render post %>
    <% end %>
  </div>

</body>
<hr>
<footer>
</footer>
