<!-- Wall of Posts main view -->
<div class="sub-navbar">
  <div>
    <a href="#">Top</a>
    <a href="#">Newest</a>
    <a href="#">Commented</a>
  </div>
  <div class="navbar-icons">
    <a href="#"><i class="fas fa-eye"></i></a>
    <a href="#"><i class="fas fa-clock"></i></a>
    <div class="dropdown">
      <a href="#" class="dropdown-btn"><i class="fas fa-filter" style="color: #fff;"></i></a>
        <div class="dropdown-content" style="top: 7.42rem; right: 5rem;">
          <a href="#">All</a>
          <a href="#">Links</a>
          <a href="#">Threads</a>
        </div>
    </div>
  </div>
</div>
<body class="wotbody">

  <div id="tweets">
    <% @posts.each do |post| %>
      <% if @actual_day != @post_day %>
        <h3 style="font-weight: normal;">
          ......
          <%= @actual_day = @post_day %>
        </h3>
      <% end %>
      <%= render post %>
    <% end %>
  </div>

</body>
<hr>
<footer>
</footer>
