<div class="sub-navbar"  style ="height: 35px";>
  <div>
    <span class="navbar-title">ADD NEW</span>
    <a href="/posts/new_link" class="navbar-item">link</a>
    <a href="/posts/new_thread" class="navbar-item">thread</a>
    <a href="" class="navbar-item">magazine</a>
  </div>
</div>

<div class="wotitem">
  <div class="post-header">
    <!-- Contenido del post -->
    <div class="post-content" style="color: white;">
      <%= render 'form' %>
      <div class="post-actions" style="text-align: center;">
      <%= link_to 'Back', posts_path, class: 'btn btn-primary btn-rectangular' %>      </div>
    </div>
  </div>
</div>