/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wotbody {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    background-color: #2a2929;
    font-size: 12pt;
}

.wottitle {
    color: rgb(255, 255, 255);
    text-align: center;
}

.wottitleLeft {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    font-weight: bold;
    margin: 20px auto;
    width: 90%;
}

.walltweet {
    color: #4d5e9b;
    margin: auto;
    border: 1px dashed #600;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #fff;
    width: 90%;
}

.wotitem {
    border: 2px solid #3d3c3d;
    margin: 20px auto;
    padding: 1em;
    width: 90%;
    background-color: #3d3c3d;
    border-color: #4a4a4a;
}

.wotitemLogin {
    border: 2px solid #3d3c3d;
    margin: 20px auto;
    padding: 1em;
    width: 90%;
    background-color: #3d3c3d;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100%; /* O un valor específico según tu diseño */
}

.likes {
    float: left;
    width: 95px;
    margin-top: 0.5em;
    text-align: center;
}

.numlikes {
    font-weight: bold;
    color: #c71585;
    font-size: 1.5em;
}

.smallfont {
    font-size: 9pt;
}

.item {;
    border-left: 2px solid #dfcaca
    margin-left: 115px;
    padding-left: 1.1em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ffffff;

}
h2 {
    color: #ffffff;

}


 .post-header {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Permite que la cabecera del post ocupe todo el espacio disponible */
  }

.vote-buttons {
    margin-right: 10px; /* Ajusta el margen entre los botones de votación y el contenido del post */
  }

.post-content {
    flex-grow: 1; /* Permite que el contenido del post ocupe todo el espacio disponible */
  }

#create-post-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  #create-post-button:hover {
    background-color: #0056b3;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .navbar {
    background-color: #343a40; /* Cambia el color de fondo de la barra de navegación */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px 20px;
  }

  .navbar a {
    color: #fff; /* Cambia el color del texto de los enlaces */
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  .navbar a:hover {
    background-color: #555; /* Cambia el color de fondo de los enlaces al pasar el mouse sobre ellos */
  }


  .head-nav__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .head-nav__menu li {
    margin-right: 10px;
  }

  .head-nav__menu li:last-child {
    margin-right: 0;
  }

  .head-nav__menu li a {
    text-decoration: none;
    color: #fff;
    position: relative; /* Para posicionar la barra */
  }

  .head-nav__menu li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff; /* Color de la barra */
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Transición suave */
  }

  .head-nav__menu li a:hover::after {
    width: 100%; /* Ancho de la barra al pasar el ratón */
  }

  .navbar-icons {
    display: flex;
    align-items: center;
  }

  .navbar-icons a, .navbar-icons button {
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
  }

  .navbar-icons a::after, .navbar-icons button::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff; /* Color de la barra */
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Transición suave */
  }

  .navbar-icons a:hover::after, .navbar-icons button:hover::after {
    width: 100%; /* Ancho de la barra al pasar el ratón */
  }

  .vote{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    border: 0;
    color: #b6b6b6;
    cursor: pointer;
    font-weight: 700;
    height: 1.2rem;
    margin: 0;
    padding: 0;
    width: 4rem;
    }

    .no-image {
        grid-area: image;
        justify-self: right;
        margin: 10px 0 10px 10px;
        overflow: hidden;
        position: relative;
        background: #1c1c1c;
        font-size: 2.5rem;
        width: 200px; /* Establece el ancho */
        height: 110px; /* Establece la altura */
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #b6b6b6;
    }

    .sub-navbar {
        background-color: #222; /* Cambia el color de fondo de la sub-barra */
        padding: 5px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 90%; /* Establece un ancho máximo */
        margin: 0 auto; /* Centra horizontalmente */
        border-radius: 5px; /* Agrega bordes redondeados */
      }

      .sub-navbar a {
        color: #fff; /* Cambia el color del texto de los enlaces */
        text-decoration: none;
        padding: 8px 12px;
        transition: background-color 0.3s ease;
      }


      .sub-navbar a, .sub-navbar .dropdown-btn {
        text-decoration: none;
        color: #fff;
        position: relative; /* Para posicionar la barra */
      }

      .sub-navbar a::after, .sub-navbar .dropdown-btn::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #fff; /* Color de la barra */
        position: absolute;
        bottom: 0;
        left: 0;
        transition: width 0.3s ease; /* Transición suave */
      }

      .sub-navbar a:hover::after, .sub-navbar .dropdown-btn:hover::after {
        width: 100%; /* Ancho de la barra al pasar el ratón */
      }

      .post-form {
        width: 50%; /* Ancho del formulario */
        margin: 0 auto; /* Centrado horizontal */
        padding: 20px; /* Espacio interno */
        background-color: #3d3c3d; /* Color de fondo oscuro */
        border-radius: 5px; /* Bordes redondeados */
      }

      .form-label{
        color: #cacece;
      }

      .form-group {
        margin-bottom: 20px; /* Espacio entre grupos de campos */
      }

      .text-white {
        color: #fff; /* Color del texto */
      }

      .form-control {
        width: 100%; /* Ancho completo */
        padding: 10px; /* Espacio interno */
        border: 1px solid #ccc; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
        background-color: #1c1c1c;
        border: 1px solid #373737;
        color: #cacece;
        font-size: .9rem;
      }

      .btn {
        padding: 10px 20px; /* Espacio interno */
        background-color: #007bff; /* Color de fondo */
        color: #fff; /* Color del texto */
        border: none; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
        cursor: pointer; /* Cambia el cursor al pasar el mouse */
      }

      .btn:hover {
        background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
      }

      .btn-rectangular {
        border-radius: 0; /* Sin esquinas redondeadas */
        background-color: #2c2c2c; /* Color de fondo gris */
        border: 1px solid #4a4a4a;
        color: #fff; /* Color del texto blanco */
        font-weight: 700; /* Texto en negrita */
        padding: 10px 20px; /* Espaciado interno */
      }

      .btn-rectangular:hover {
        background-color: #666; /* Color de fondo gris oscuro al pasar el mouse */
      }

      .btn-google {
        display: inline-block;
        background-color: #4285F4; /* Google blue */
        color: white;
        padding: 10px 20px;
        text-align: center;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        text-decoration: none; /* Remueve subrayado del texto de enlaces */
        font-weight: bold;
        transition: background-color 0.3s; /* Suave transición para hover */
      }

      .btn-google:hover {
        background-color: #357ae8; /* Color más oscuro al pasar el mouse */
      }



      /* Estilo del botón del menú desplegable */
.dropdown-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Estilo del contenido del menú desplegable */
.dropdown-content, .dropdown-content.user {
  display: none;
  position: absolute;
  background-color: #2c2c2c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilo de los enlaces dentro del menú desplegable */
.dropdown-content a {
  color: #d9dde5;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Cambia el color del enlace cuando se pasa el ratón sobre él */
.dropdown-content a:hover {
  background-color: #1c1c1c;
}

/* Mostrar el menú desplegable cuando se hace hover sobre el botón */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Mostrar el menú desplegable cuando se hace foco en el botón */
.dropdown:focus-within .dropdown-content {
  display: block;
}



/* COMENTARIOS */

.comment {
  font-size: .9rem;
  margin-bottom: 10px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
}

.buttons button {
  margin-right: 5px;
}

.actions {
  margin-top: 10px;
}

.actions a {
  margin-right: 10px;
  color: #d9dde5;
  margin-bottom: 10px;
}

a{
  text-decoration: none;
}

.comment {
  margin-top: 0;
  margin-bottom: 0;
}


.comment .top{
  font-size: 0.8rem;
  opacity: .75;
  margin-top: -10px;
}

.comment .body{
  margin-top: -10px;
}

.popover-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}

.popover-toggle:checked + .more + .popover-content {
  display: block;
}

.delete-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: #d9dde5; /* Cambia el color según tu preferencia */
  text-decoration: none;
  cursor: pointer;
}

.edit-comment-area {
  display: none;
}

.comment-reply{
  padding-left: 20px;
}