.magazine-table {
  width: 100%;
  border-collapse: collapse;
  color: #dbdee2;
}

.magazine-th {
  padding: 1.5rem 1rem;
  border: 1px solid #373733;
  background-color: #2c2c2c
}

.magazine-td {
  position: relative;
  padding: 1.5rem 1rem;
  border: 1px solid #373733;
}

.user_actions_mag {
  color: #cecece;
  background: #2c2c2c;
  border: 1px dashed #373737;
}

.btn-rectangular-mag{
  border-radius: 0; /* Sin esquinas redondeadas */
  background-color: #2c2c2c !important; /* Color de fondo gris */
  border: 1px dashed #4a4a4a;
  color: #ceceec; /* Color del texto blanco */
  font-weight: 700; /* Texto en negrita */
  padding: 10px 20px; /* Espaciado interno */
}

.btn-rectangular-mag:hover {
  background-color: #2f2f2f !important; /* Color de fondo más oscuro cuando se pasa el ratón por encima */
}