body {
  color: #444;
  background-color: #2a2929;
}

.post-form {
  width: 50%; /* Ancho del formulario */
  margin: 0 auto; /* Centrado horizontal */
  padding: 50%; /* Espacio interno */
  background-color: #343a40; /* Color de fondo oscuro */
  border-radius: 5px; /* Bordes redondeados */
}

.form-group {
  margin-bottom: 20px; /* Espacio entre grupos de campos */
}

.text-white {
  color: #fff; /* Color del texto */
}

.form-control {
  width: 100%; /* Ancho completo */
  padding: 10px; /* Espacio interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
}

.btn {
  padding: 10px 20px; /* Espacio interno */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color del texto */
  border: none; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.btn:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}