<!-- app/views/layouts/application.html.erb -->
<header>
  <div class="top-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div>
        <a href="/posts">
          <%= image_tag("Talkify_logo-transformed.png", alt: "Talkify", width: "100") %>
        </a>
      </div>
      <menu class="head-nav__menu">
        <li><a href="/">Threads</a></li>
        <li><a href="/*">Magazines</a></li>
      </menu>
      <div class="navbar-icons">
        <a href="#"><i class="fas fa-search"></i></a>
        <div class="dropdown">
          <a href="#" class="dropdown-btn"><i class="fas fa-plus" style="font-size: 18px; margin-left: -0.5rem; color: #fff;"></i></a>
            <div class="dropdown-content" style="top: 4.42rem; right: 5rem;">
              <a href="#">Add new link</a>
              <a href="#">Add new thread</a>
              <a href="#">Create new magazine</a>
            </div>
        </div>
        <a href="#"><i class="fas fa-bars"></i></a>
        <%= render 'shared/user_dropdown' %>
      </div>
    </nav>
  </div>
</header>

<%= yield %>
